doctype html
html
  head
    meta(caharset="utf-8")
  body
    form(action="login_check" method="post")
      p
        |아이디
        input(type="text" name="id")
      p
        |비밀번호
        input(type="text" name="pw")
      input(type="submit" value="로그인")
